.page {
    height: 100vh;
    grid-template-rows: 1fr fit-content(1fr) 1fr;
    background-color: var(--background-color-accent);
}

.dark-mode-btn {
    position:absolute;
    bottom: calc(0px + var(--spacing-size-medium));
    left: calc(0px + var(--spacing-size-medium));
}

.home-btn {
    position:absolute;
    top: calc(0px + var(--spacing-size-medium));
    left: calc(0px + var(--spacing-size-medium));
}

.page main.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    grid-column: 3 / span 4;
    background-color: var(--background-color);
    border-radius: var(--border-size-radius);
    box-shadow: 0 0.5rem 0.8rem var(--background-color-dark);
    padding: var(--spacing-size-medium);
    gap: var(--spacing-size-medium);
}

.login-card #login {
    display: contents;
}

.login-card.signup #login {
    display: none;
}

.login-card #signup {
    display: none;
}

.login-card.signup #signup {
    display: contents;
}

.login-card #login-btn {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: currentColor;
}

.login-card.signup #login-btn {
    border-bottom: 0;
}

.login-card #signup-btn {
    border-bottom: 0;
}

.login-card.signup #signup-btn {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: currentColor;
}

.login-card .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card .logo img {
    width: var(--logo-size-medium);
    height: var(--logo-size-medium);
}

.login-card .forms {
    padding: var(--spacing-size-medium);
}

i.bx {
    font-size: var(--icon-size);
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-body);
    border-radius: var(--border-size-radius);
    height: calc(var(--icon-size) + 1rem);
    padding: var(--spacing-size-small) var(--spacing-size-small);
    background-color: var(--background-color);
}

a:hover {
    background-color: var(--background-color-dark);
}

a span, button span {
    padding-left: var(--spacing-size-small);
}

.action-selector {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.action-selector button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: var(--text-font-size-medium);
    cursor: pointer;
    border: 0;
    border-radius: 0;
    padding: var(--spacing-size-small) var(--spacing-size-medium);
}

.action-selector button:hover {
    background-color: var(--background-color-dark);
}

