body {
    color: var(--text-color-body);
    background-color: var(--background-color);
    font-family: var(--text-font-family-body);
    font-weight: var(--text-font-weight-body);
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-header);
    line-height: 1;
    padding: var(--spacing-size-medium);
}

header img {
    width: auto;
    height: auto;
    max-width: calc(var(--text-font-size-xxxlarge) + 1rem);
    max-height: calc(var(--text-font-size-xxxlarge) + 1rem);
}

h1 { 
    font-size: var(--text-font-size-xxxlarge);
    font-family: var(--text-font-family-display);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 { 
    font-size: var(--text-font-size-xxlarge); 
}

h3 { font-size: var(--text-font-size-xlarge); }

h4 { font-size: var(--text-font-size-large); }

h5 { font-size: var(--text-font-size-medium); }

h6 { font-size: var(--text-font-size-body); }

h2, h3, h4, h5, h6 {
    font-family: var(--text-font-family-display);
    font-optical-sizing: auto;
    font-weight: var(--text-font-weight-light);
    font-style: normal;
}

a {
    color: var(--text-color-link);
}

th, td {
    /* border: 1px solid rgb(160 160 160); */
    padding: 4px 16px;
}

th {
    font-weight: var(--text-font-weight-bold);
}

dt {
    margin-bottom: 0.25rem;
}

dd {
    margin-bottom: 1rem;
}

button {
    color: currentColor;
    border-color: currentColor;
    border-style: solid;
    border-radius: 0.375rem;
    background-color: inherit;
    height: fit-content;
}

button:hover {
    background-color: var(--background-color); /* Green */
    color: white;
  }

strong {
    font-weight: var(--text-font-weight-bold);
}

em {
    font-family: var(--text-font-family-body);
    font-weight: var(--text-font-weight-body);
    font-style: italic;
}

/* Mono */
.roboto-mono-code-snippet {
    font-family: Roboto Mono, Consolas, monaco, monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Body Text */
.roboto-regular {
    font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Display Text */
.roboto-slab-main-title {
    font-family: Roboto Slab, Rockwell, Georgia, Times, Times New Roman, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

.roboto-slab-title {
    font-family: Roboto Slab, Rockwell, Georgia, Times, Times New Roman, serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
} 